@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<header> 
    <h1> Minha Agenda de Series e Animes </h2>
    <h3> Não se perca mais!! Registre o último episódio de suas séries e animes favoritos📝</h3>
    <hr>
</header>

<body>
    <form method="post">
        <div>
            <label for="Titulo"> Nome do Anime/Série: </label>
            <input type="text" id="Titulo" name="Titulo" required />
        </div>
        
         <div>
            <label for="Temporada"> Nº da Temporada: </label>
            <input type="number" id="Temporada" name="Temporada" required />
        </div>

        <div>
            <label for="UltimoEpisodio"> Nº do Episódio: </label>
            <input type="number" id="UltimoEpisodio" name="UltimoEpisodio" required />
        </div>

        <div>
            <label for="UrlImagem"> Imagem de Capa: </label>
            <input type="text" id="UrlImagem" name="UrlImagem" required />
        </div>

        <button type="submit" class="btn btn-success"> Finalizar </button>
        <hr>
    </form>

    <h3> Sua Lista de Series/Animes </h3>

    <div class="container text-center">
        <div class="row row-cols-1 row-cols-md-4 g-4"> @foreach (var obra in Model.ListaDeObras)
            {
                <div class="col"> <section class="card h-100 card-serie"> <img src="@obra.UrlImagem" class="card-img-top" alt="@obra.Titulo">
                        <div class="card-body">
                            <h3>@obra.Titulo</h3>
                            <p>Temporada: @obra.Temporada</p> 
                            <p>Episódio: @obra.UltimoEpisodio</p>
                        </div>
                        <div class="card-footer bg-transparent border-0 d-flex justify-content-between">
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalEditar-@obra.Id">
                                Atualizar
                            </button>
                            <form method="post" asp-page-handler="Deletar" asp-route-id="@obra.Id">
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </form>
                            
                        </div>
                        
                        <div class="modal fade" id="modalEditar-@obra.Id" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Editar @obra.Titulo</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form method="post" asp-page-handler="Atualizar" asp-route-id="@obra.Id">
                                        <div class="modal-body text-start">
                                            <div class="mb-3">
                                                <label for="novaTemporada-@obra.Id" class="form-label">Nova Temporada</label>
                                                <input type="number" class="form-control" id="novaTemporada-@obra.Id" name="novaTemporada" value="@obra.Temporada" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="novoEpisodio-@obra.Id" class="form-label">Novo Episódio</label>
                                                <input type="number" class="form-control" id="novoEpisodio-@obra.Id" name="novoEpisodio" value="@obra.UltimoEpisodio" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            }
        </div>
    </div>

</body>
